p
    | During my highschool years I started to
    | work as a web developer for a local web agency
    | on a casual basis. 
p
    | After working for a year as a part-time IT Administrator
    | (<strong>medel.com</strong>), 
    | a friend and myself decided to star our own business, which offered
    | webdesign and development. We were able to finish
    | several medium sized projects.
p 
    | In 2007 I got my first full-time jobs as a web developer 
    | (<strong>styleflasher.at</strong>). Working for clients like Red Bull and Eglo,
    | allowed me to get more experience working on larger scale projects 
    | and strenghen my skills around writing quality code.
p
    | In 2008 I moved to Australia and continued working
    | previous company (remotely) and started working
    | with <strong>thesquad.com.au</strong> on a freelance basis.
p
    | In 2011 I got the opportunity to work as a full-time
    | front-end developer for the <strong>WorldNomads Group</strong>.
    br
    | Exposure to larger scale and high traffic websites like
    | tid.com.au, worldnomads.com.au and suresave.com.au
    | helped me get a better understanding of applying
    | various optimizations to improve page performance.
    br
    | Being part of a larger team and within an agile environment 
    | helped me understand the challenges of managing time, estimates
    | and expectations.
p
    | In 2013 I was offered a contracting role at 
    | <strong>News Corp Australia</strong>.
    br
    | First I worked within the team responsible for integrating
    | various social networking features and enhancing our users
    | personal experience (eg.: article bookmarking, reading history).
    br
    br
    | With millions of page views and page performance as a priority
    | this helped me strenghen my JavaScript skills and deepen my knowledge
    | around performance related areas.
    br
    br
    | After half a year I got offered a full-time role and was
    | promoted to a lead front-end position.
    | My responsibilities included: Mentoring, Architectural and
    | Code Quality Guidance, Deployment optimizations, Automation
    | and cross-team communction.
