p
    | During my highschool years I started to
    | work as a web developer for a local web agency
    | on a casual basis. 
p
    | After working for a year as a part-time IT Administrator
    | at <a href='http://medel.com' title='Medical Electronics'>medel.com</a>, 
    | a friend and myself decided to star our own business, which offered
    | webdesign and development. We were able to finish
    | several medium sized projects.
p 
    | In 2007 I got my first full-time jobs as a web developer at
    | <a href='http://styleflasher.at' title='Styleflasher New Media'>styleflasher.at</a>. 
p
    |Working for clients like Red Bull and Eglo,
    | allowed me to get more experience working on bigger projects 
    | and strengthen my skills around writing quality code.
p
    | In 2008 I moved to Australia and continued working
    | previous company (remotely) and started working
    | with 
    | <a href='http://thesquad.com.au' title='The Squad'>thesquad.com.au</a> 
    | on a freelance basis.
p
    | In 2011 I got the opportunity to work as a full-time
    | front-end developer for 
    | <a href='http://worldnomads.com' title='World Nomads'>worldnomads.com</a>.
p
    | Exposure to larger scale and high traffic websites like 
    a(href='http://tid.com.au') tid.com.au, 
    a(href='http://worldnomads.com.au') worldnomads.com.au 
    | and 
    a(href='http://suresave.com.au') suresave.com.au
    | , helped me get a better understanding of applying
    | various optimization techniques to improve page performance.
p
    | Being part of a big team and within an agile environment 
    | introduced me to the challenges around managing time, estimates
    | and expectations.
p
    | In 2013 I was offered a contracting role at 
    | <strong>NewsCorp Australia</strong>.
p
    | When I first started I worked within the team responsible for integrating
    | various social networking features and enhancing our users
    | personal experience (eg.: article bookmarking, reading history).
p
    | With millions of page views per day and hence page performance being 
    | a priority, strenghened my JavaScript skills and deepen my knowledge
    | around performance related areas.
p
    | After half a year I got offered a full-time role and was
    | promoted to a lead front-end position.
    | I was also assigned to the team, who looks after the masthead sites 
    | (
    a(href='http://dailytelegraph.com.au') Daily Telegraph
    | , 
    a(href='http://heraldsun.com.au') Herald Sun 
    | ...).
p
    | Some of my responsibilities where: mentoring, architectural and
    | code-quality guidance to junior developers, automation, stackeholder & 
    | cross-team communction and deployment management.
p
    | In my spare time I build crazy lego contructs with my son, climb
    | on rocks and feed my cat (he makes me do that a lot).
