component(address) {

    lost-flex-container: row;
    lost-row: 1/2 calc(var(--gridGutter) * 1/2);

    strong { text-transform: uppercase }

    part(email) {
        lost-column: 1/2;
    }

    part(web) {
        lost-column: 1/2;
        text-align: right;
    }

}
