component(banner) {

    background: var(--secondaryColor);
    color: white;
    padding: calc(var(--gridGutter));
    text-align: center;

    height: 100%;

    part(heading) {
        color: white;
        display: inline-block;
        margin-bottom: 0;
        border-bottom: 2px solid;
        font-weight: 300;
        font-size: 5rem;
    }

    part(intro) { font-size: 1.1rem }
    part(aside) { text-align: left }
}
