component(experience) {


    part(content) { @extend unstyled-list }

    part(item) { lost-flex-container: row }

    part(heading) {
        lost-column: 1/3;

        position: relative;;
        padding-bottom: calc(var(--gridGutter) * 1.5);
        margin-bottom: 0;

        border-right: 1px solid;
        font-size: 1.4rem;

        &:after {
            content: '';
            position: absolute;
            right: -8px;
            top: calc(var(--gridGutter) - 16px);
            width: 16px;
            height: 16px;
            background: var(--secondaryColor);
            border-radius: 50%;
            opacity: 0.7;
        }

    }

    part(description) {
        lost-column: 2/3;
    }


    part(timeend),
    part(timestart) {
        display: inline-block;
        padding: 0.2rem;
        background: var(--secondaryColor);
        color: white;
    }

    part(timestart) {
        background: var(--highlightColor);
    }

    part(timeend) {
        margin-bottom: 0.2rem;
    }

    part(company) {
        font-size: 1.1rem;
    }

    part(location) {
        font-size: 0.9rem;
    }

    part(role) {
        display: block;
        margin-top: calc(var(--gridGutter) / 10);
        font-size: 0.9rem;
        font-style: italic;;
    }

    part(details) {
        position: relative;;
        padding-left: 20px;
        font-size: 0.9rem;

        &:before {
            content: '\2192';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}
