component(skillset) {
    ul { @extend unstyled-list }

    part(item) {

        margin-bottom: var(--gridGutter);

        @media (min-width: 620px) {
            margin-bottom: calc(var(--gridGutter) / 2);
        }
    }

    part(heading) {
        margin-bottom: calc(var(--gridGutter) / 4);
        padding-bottom: 0;
        font-size: 1rem;

        option(set) {
            color: var(--textColor);
        }
    }

    part(indicator) {
        appearance: none;

        @media (max-width: 620px) {
            width: 100%;
        }

        &::-webkit-progress-bar { background: var(--backgroundColor) }
        &::-webkit-progress-value { background: color(var(--secondaryColor) a(0.6)) }

        &::-moz-progress-bar { background: color(var(--secondaryColor) a(0.6)) }
    }
}
