include _mixins

doctype html
html(lang="en")

    head
    
        title David Pisek - Resume
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        
        link(rel='stylesheet' href='main.css')
        
        link(
            href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' 
            rel='stylesheet'
        )
        
        
    body
    
        header.banner(role='banner')
        
            .banner__main
                h1.banner__heading
                    | David Pisek 
                p.banner__intro
                    | Front End Enthusiast par excellence 
                    
            address.banner__aside.address
                .address__email 
                    strong email: 
                    a(href='mailto:dave.pisek@gmail.com') dave.pisek@gmail.com
                .address__web
                    strong web: 
                    a(href='http://dave.pisek.me') http://dave.pisek.me
                
                
        main.main(role='main')
        
            article.main__article
            
                h1 My Resume
                
                section.section.overview
                    h1.section__heading
                        | Overview
                    include content/_overview
                        
                section.section.skills
                    h1.section__heading 
                        | Skills
                        
                    .skills__content
                        .skillset.basic
                            h2.skillset__heading.--set Basic
                            ul.skillset__content
                                +skillsetItem('JS', '95')
                                +skillsetItem('HTML', '90')
                                +skillsetItem('CSS', '90')
                        .skillset.frameworks
                            h2.skillset__heading.--set Frameworks
                            ul.skillset__content
                                +skillsetItem('Node', '80')
                                +skillsetItem('React', '85')
                                +skillsetItem('Gulp', '90')
                        .skillset.other
                            h2.skillset__heading.--set Other
                            ul.skillset__content
                                +skillsetItem('Vim', '80')
                                +skillsetItem('Unix', '75')
                    
                
                section.section.experience
                    h1.section__heading Experience
                    ol.experience__content
                        +experienceItem(
                            '2013', 
                            'Present',
                            'NewsCorp', 
                            'Australia', 
                            'Senior Front End Engineer',
                            'Node, Jade, CSS, JS, Automation, ' +
                            'Mentoring, FE Architecture'
                        )
                        +experienceItem(
                            '2011',
                            '2013',
                            'Worldnomads Group',
                            'Australia',
                            'Front End Developer',
                            'HTML, CSS, Javascript, .NET, FE Architecture'
                        )
                        +experienceItem(
                            '2008',
                            '2013',
                            'pisek.me',
                            'Australia',
                            'Web Developer (freelance)',
                            'Full Stack Projects, HTML-Email Templates ' + 
                            '(mainly working for thesquad.com.au ' + 
                            'and uberbrand.com.au)'
                        )
                        +experienceItem(
                            '2008',
                            '2011',
                            'thesquad.com.au',
                            'Australia',
                            'Web Developer (freelance)',
                            'Full Stack Projects (mainly using ' + 
                            'business catalyst for backend)'
                        )
                        +experienceItem(
                            '2008',
                            '2007',
                            'styleflasher.at',
                            'Austria',
                            'Web Developer',
                            'PHP, HTML, CSS, JS, ezPublish (CMS), ' + 
                            'Client Support'
                        )
                        +experienceItem(
                            '2001',
                            '2002',
                            'medel.com',
                            'Austria',
                            'IT Support (part time)',
                            '1st and 2nd level support for a 200+ ' + 
                            'client network'
                        )
                        +experienceItem(
                            '1999',
                            '2001',
                            'mmmm.cc',
                            'Austria',
                            'Web Developer (part time)',
                            'PHP, HTML, CSS, JS, web cam installations' +
                            'and support'
                        )
                        
            aside.main__aside
            
                .infobox.awards
                    h2.infobox__header Awards
                    ul
                        li.infobox__content
                            h3 Accountability Award
                            p 2015, News Corp Australia
                        li.infobox__content
                            h3 Dev Foundry Hackaton
                            p 2015, News Corp Australia People's choice
                .infobox.languages
                    h2.infobox__header Languages
                    ul
                        li.infobox__content
                            h3 English
                            p Fluent
                        li.infobox__content
                            h3 German
                            p Native
                .infobox.location
                    h2.infobox__header Location
                    ul
                        li.infobox__content
                            h3 Sydney, Australia
                    
                    
        footer.footer(role='contentinfo')    
            ul.footer__links
                li.footer__link
                    a(href='http://github.com/davepies')
                        svg.footer__icon
                            use(xlink:href="#github")
                li.footer__link
                    a(href='http://twitter.com/davepies')
                        svg.footer__icon
                            use(xlink:href="#twitter")
                li.footer__link
                    a(href='http://linkedin.com/davepies')
                        svg.footer__icon
                            use(xlink:href="#linkedin")


        //- SVG Injection
        div(style='display: none')
            | <!-- inject:svg --><!-- endinject -->
                    
        //- | <!-- inline assets/inline/grid-pollyfill.js -->
        script(src='../assets/inline/grid-pollyfill.js' inline)
