/* Variables */
:root {
    --secondaryColor: #44ccaa;
    --textColor: #666;
    --highlightColor: #ffbb00;
    --backgroundColor: rgba(211, 211, 211, 0.3);
    --borderColor: color(var(--backgroundColor) blackness(50%));

    --mainFont: Roboto, sans-serif;
    --gridGutter: 2.5rem;

    --gridColumns: 1fr var(--gridGutter) 250px;
    --gridRows: auto;

    --bodyBorder: 4px solid var(--borderColor);
}

@custom-selector :--heading h1, h2, h3, h4;
@custom-selector :--firstLevel main, footer;

/* Extendables */
@define-placeholder unstyled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@define-placeholder h {
    margin-top: 0;
    color: var(--secondaryColor);
}


@define-placeholder h3 {
    font-weight: bold;
    font-size: 1rem;
    color: var(--textColor);
}

/* Styling */
html {
    background: var(--backgroundColor);
    padding: var(--gridGutter);
}

body {
    background: white;
    font-family: var(--mainFont);
    color: var(--textColor);

    border-right: var(--bodyBorder);
    border-bottom: var(--bodyBorder);
}

section { margin-bottom: calc(var(--gridGutter) * 2) }

:--firstLevel { padding: var(--gridGutter); }

a { color: inherit; text-decoration: none; font-style: normal; }

:--heading { @extend h; }
h3 { @extend h3; }

strong { font-style: normal }

/* Components */
component(main) {
    display: grid;
    grid-template-columns: var(--gridColumns);
    grid-template-rows: var(--gridRows);
    grid-template-areas: "article . aside";

    part(article) { grid-area: article; }

    part(aside) { grid-area: aside; }
}

component(banner) {
    display: grid;
    grid-template-columns: var(--gridColumns);
    grid-template-rows: var(--gridRows);
    grid-template-areas: "banneraside banneraside banneraside"
                         "bannermain bannermain bannermain";

    background: var(--secondaryColor);
    color: white;
    padding: calc(var(--gridGutter));
    text-align: center;

    part(main) { grid-area: bannermain; }

    part(heading) {
        color: white;
        display: inline-block;
        margin-bottom: 0;
        border-bottom: 2px solid;
        font-weight: 300;
        font-size: 5rem;
    }

    part(intro) { font-size: 1.1rem; }

    part(aside) { grid-area: banneraside; text-align: left; }
}

component(address) {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: var(--gridGutter);
    grid-template-areas: "addressmail . addressweb";
                         ". . .";

    strong { text-transform: uppercase }

    part(email) { grid-area: addressemail; }
    part(web) { grid-area: addressweb; text-align: right; }
}

component(section) {
    part(heading) {
        padding-bottom: calc(var(--gridGutter) / 3);
        border-bottom: 2px solid;
    }
}

component(info) {
    padding: calc(var(--gridGutter) / 2);
    border: 2px solid var(--borderColor);

    ul { @extend unstyled-list }

    part(header) {
        padding-bottom: calc(var(--gridGutter) / 3);
        color: var(--highlightColor);
        border-bottom: 1px solid;
    }
}

component(skillset) {
    ul { @extend unstyled-list }

    part(item) {
        margin-bottom: calc(var(--gridGutter) / 2);
    }

    part(heading) {
        margin-bottom: calc(var(--gridGutter) / 4);
        padding-bottom: 0;
        font-size: 1rem;
    }

    part(indicator) {
        appearance: none;
        &::-webkit-progress-bar { background: var(--backgroundColor) }
        &::-webkit-progress-value { background: color(var(--secondaryColor) a(0.6)) }
    }
}

component(experience) {
    part(content) { @extend unstyled-list }

    part(item) {
        display: grid;
        grid-template-columns: 150px var(--gridGutter) 1fr;
        grid-template-rows: auto;
        grid-template-areas: "experience-heading . experience-content";
        margin: 0;
    }

    part(heading) {
        grid-area: experience-heading;
        position: relative;;
        margin: 0;
        padding-bottom: calc(var(--gridGutter));
        font-size: 1.4rem;
        border-right: 1px dashed;

        &:after {
            content: '';
            position: absolute;
            right: -8px;
            top: calc(var(--gridGutter) - 16px);
            width: 16px;
            height: 16px;
            background: var(--secondaryColor);
            border-radius: 50%;
            opacity: 0.7;
        }

    }

    part(timeend),
    part(timestart) {
        display: inline-block;
        padding: 0.2rem;
        background: var(--secondaryColor);
        color: white;
    }

    part(timestart) {
        background: var(--highlightColor);
    }

    part(timeend) {
        margin-bottom: 0.2rem;
    }

    part(description) {
        grid-area: experience-content;
        margin: 0;
    }

    part(company) {
        font-size: 1.1rem;
    }

    part(location) {
        font-size: 0.9rem;
    }

    part(role) {
        display: block;
        font-size: 0.9rem;
        font-style: italic;;
    }

    part(details) {
        font-size: 0.9rem;
    }
}
